# Never commit data or results
data/
results/

# Never Commit
.env
kaggle.json

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/


# ignore mac system files
.DS_Store

# ignore python cache
__pycache__/
*.pyc

# ignore data folder
data/

# ignore environment files
.env