#  System files 
.DS_Store

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
.venv/

# Secrets
.env
kaggle.json

# Data (required to be empty)
data/

# Results (generated output)
results/